.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
Data/Prignano/node-csv
Data/Chaco/AD*
Data/Chaco/attributes.csv
Data/Chaco/*.RData
Data/Chaco/*.txt
Data/Chaco/*.csv
Data/ICRATES/time-slices

# Mac trash files
.DS_Store
*/.DS_Store
